@import "tailwindcss";

@import "bootstrap-icons/font/bootstrap-icons.css";
@import "remixicon/fonts/remixicon.css";

:root {
  --primary: #ffb340;
  --primary-light: #ffb340b3;
  --second: #7a6eff;
  --dark-color: #1c1d20;
  --text: #222e48;
  --body: #1c1d20;
  --gray-color: #3b3b3c;
  --gray-light: #262629;
  --white: #fff;
  --black: #000;

  --font-kanit: "Kanit", sans-serif;
  --font-metalMania: "Metal Mania", sans-serif;

  --transition-regular: 0.3s;
  --transition-slow: 0.6s;
}

.Kanit {
  font-family: var(--font-kanit);
}

.MetalMania {
  font-family: var(--font-metalMania);
}

body {
  overflow-x: hidden !important;
  background: var(--body);
  color: var(--white);
  font-family: var(--font-kanit);
}

/* NavBar Section  */
.navbar {
  z-index: 9999;
}

.btn {
  border: 1px solid var(--primary);
  padding: 10px 25px;
  padding-bottom: 12px;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  overflow: hidden;
  gap: 15px;
  position: relative;
  z-index: 1;
  transition: var(--transition-slow);
  cursor: pointer;
}

.btn:hover {
  color: var(--white);
  border-color: var(--white);
}

.btn:hover i {
  transform: rotate(-180deg) !important;
}

.btn i {
  background-color: var(--primary);
  color: var(--black);
  border-radius: 100%;
  width: 30px;
  height: 30px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition-slow);
}

.btn1 {
  color: var(--primary);
}

.btn1::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 50px;
  width: 0;
  height: 0;
  background: var(--second);
  transition: var(--transition-slow);
  z-index: -1;
}

.btn1:hover::after {
  width: 100%;
  height: 100%;
  right: auto;
  left: 0;
  bottom: auto;
  top: 0;
}

.btn2 {
  background-color: var(--primary);
  color: var(--black);
}

.btn2 i {
  background-color: var(--black);
  color: var(--primary);
}

.btn2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50px;
  width: 0;
  height: 0;
  background: var(--second);
  transition: var(--transition-slow);
  z-index: -1;
}

.btn2:hover::after {
  width: 100%;
  height: 100%;
  top: auto;
  bottom: 0;
  right: 0;
  left: auto;
}

/* Hero Header  */
.hero {
  width: 100%;
  height: 90vh;
  background: url(/texture-bg-1.png), rgb(38, 38, 41);
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 3%;
  overflow: hidden !important;
  z-index: 1;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../public/vector-line.png);
  background-repeat: no-repeat;
  z-index: -1;
}

.hero-btn button {
  font-weight: 500;
}

.sun-shape img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  animation: Anim-rotate 5s infinite forwards linear;
}

.sun-shape img:nth-child(1) {
  top: 75%;
  left: 5%;
}

.sun-shape img:nth-child(2) {
  top: 40%;
  left: 47%;
}

.sun-shape img:nth-child(3) {
  top: 50%;
  left: 90%;
}

@keyframes Anim-rotate {
  100% {
    transform: rotate(360deg);
  }
}

.hero-img {
  position: absolute;
  top: 0;
  left: 54.7%;
  z-index: 0;
  animation: smallTranslate 5s infinite ease-in-out;
}

.rounded-text {
  position: absolute;
  top: 48%;
  left: 12%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rounded-text img {
  position: absolute;
  top: 0;
  left: 0;
  animation: Anim-rotate 5s infinite forwards linear;
}

.rounded-text i {
  background-color: var(--primary);
  color: var(--black);
  width: 60px;
  height: 60px;
  border-radius: 100%;
  font-size: 2.5rem;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition-regular);
}

.rounded-text i:hover {
  transform: translate(-50%, -50%) scale(1.2);
  cursor: pointer;
}

@keyframes smallTranslate {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(5px, 5px);
  }
  50% {
    transform: translate(0px, 0px);
  }
  75% {
    transform: translate(-5px, -5px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

/* Nav MQ Section  */
@media (max-width: 991px) {
  .hero {
    height: 100%;
    padding-bottom: 0;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 5%;
  }

  .hero-img {
    position: relative;
    top: 0;
    left: 20%;
  }

  .rounded-text {
    left: 28%;
  }

  .sun-shape img:nth-child(2) {
    top: 14%;
    left: 82%;
  }

  .sun-shape img:nth-child(3) {
    top: 70%;
    left: 82%;
  }
}

@media (max-width: 600px) {
  .hero-img {
    left: 5%;
  }

  .rounded-text {
    left: 50%;
  }

  .nav-right .btn2 {
    display: none;
  }
}

@media (max-width: 575px) {
}
